/************/
/* Template */
/************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark !important;
}

body {
    background-color: #181a1b;
    overflow: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
