* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark !important;
}

body {
    background-color: #181a1b;
    overflow: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="color"] {
    -webkit-appearance: none;
    border: 1px solid black;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

/*  */

input[type="text"] {
    border: 1px solid black;
    height: 30px;
    padding: 20px 10px 20px 10px;
    font-size: 27px;
    border-radius: 0px;
}

#minimap {
    position: fixed;
    left: 90%;
    border-left: 1px solid rgb(77, 77, 77);
}

#textCanvas {
    position: fixed;
}
